<!DOCTYPE html>
<html ng-app="itemsApp">
<head>
  <title>Itemizer</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <header></header>

    <article ui-view-container>
      <section ui-view autoscroll="false"></section>
    </article>

    <footer></footer>
  </div>

  <%= javascript_include_tag 'application' %>
</body>
</html>
